{% extends 'base.html' %}
{% block cloudConverterBody %}
<form method="POST" enctype="multipart/form-data">

{% csrf_token %}
<!---Main Body-->
<div class="bg-gradient-to-r from-[#A92655] to-[#FD8D67] justify-arround block md:flex items-center">
    <!--Details-->
    <div class="max-w-[1440px]
     container mx-auto pb-[4%] md:py-4 md:px-[13%]">
        <h1 class="text-white font-bold text-xl md:text-2xl px-[10%]">File Converter</h1>
        <p class="text-white text-[12px] md:text-[18px] text-wrap md:w-2xl px-[10%]">CloudConvert is an online file
            converter. We support nearly all audio, video, document, ebook, archive, image, spreadsheet, and
            presentation formats. To get started, use the button below and select files to convert from your computer.
        </p>
    </div>

    <!--Options-->
    <div class="flex justify-center self-start text-white items-center pb-[4%] gap-2">
        convert
        <label>
            <select
                    class="px-4 md:px-6 py-2 md:py-4 border md:border-2 border-1 border-[#f2f2f2] rounded-md text-[14px] focus:outline-none"
                    name="from_file"
                    id="from_file" required>
                <option class="text-black font-bold" value="" disabled selected hidden>. . .</option>
                <option class="text-black" value="png">PNG</option>
                <option class="text-black" value="png">GIF</option>
                <option class="text-black" value="pdf">PDF</option>
                <option class="text-black" value="jpg">JPG</option>
                <option class="text-black" value="jpeg">JPG</option>
            </select>
        </label>
        to
        <label>
            <select class="px-4 md:px-6 py-2 md:py-4 border md:border-2 border-1 border-[#f2f2f2] rounded-md text-[14px] focus:outline-none" name="to_file"
                    id="to_file" required>
                <option class="text-black font-bold" value="" disabled selected hidden>. . .</option>
                <option class="text-black" value="png">PNG</option>
                <option class="text-black" value="pdf">PDF</option>
                <option class="text-black" value="gif">GIF</option>
                <option class="text-black" value="jpg">JPG</option>
                <option class="text-black" value="jpeg">JPEG</option>
            </select>
        </label>
    </div>
</div>

<div class="md:px-[40%] flex justify-center">
    <input type="file" id="fileUpload" class="hidden" name="file_picked"
           required multiple onchange="this.form.submit()">

    <label for="fileUpload"
           class="flex text-[12px] bg-[#A92655] gap-2 container mx-auto max-w-[150px] my-2 px-8 py-4 items-center
           text-white border border-[#A92655] rounded-[8px] md:gap-4 md:text-[#A92655] md:text-xl md:px-4 md:py-4
           md:w-60 md:justify-self-center border md:rounded-md md:my-4 md:border-2 md:cursor-pointer
           md:hover:bg-[#A92655] md:hover:text-white md:transition">
        <i class="fa-regular fa-file md:pl-10 md:pr-6"></i>
        Select File
    </label>
</div>
</form>
<!--Bottom Body Detail Boxes-->
{% include 'converter_details.html' %}

<script>
    function postRequest() {
    let fromFile = document.getElementById('from_file').value;
    let toFile = document.getElementById('to_file').value;
    let fileInput = document.getElementById('fileUpload').files[0];
    let csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    let formData = new FormData();
    formData.append('from_file', fromFile);
    formData.append('to_file', toFile);
    formData.append('file_picked', fileInput);

    fetch("{% url 'home' %}", {
        method: "POST",
        headers: {
            "X-CSRFToken": csrfToken,
        },
        body: formData
    })}
        {#.then(function(response) {#}
        {#return response.json();#}
      {# }).then(function(data){#}
        {#console.log(data);#}
        {#console.log(data.data.from);#}
        {#document.getElementById('from_file').value = data.data.from;#}
        {#document.getElementById('to_file').value = data.data.to;#}
      {# }).catch(error => error)}#}
</script>
{% endblock %}