{% extends 'base.html' %}
{% block cloudConverterBody %}

<!---Main Body-->
<div class="bg-gradient-to-r from-[#242424] to-[#3a3a3a] h-65 justify-between flex px-100 items-center">
    <!--Details-->
    <div>
        <h1 class="text-white font-bold text-3xl pb-2">File Converter</h1>
        <p class="text-white text-wrap w-xl">CloudConvert is an online file converter. We support nearly all audio, video, document, ebook, archive, image, spreadsheet, and presentation formats. To get started, use the button below and select files to convert from your computer.</p>
    </div>

    <!--Form-->
    <div class="flex self-center text-white items-center px-20">
        convert
        <label>
            <select class="px-6 mx-4 py-4 border border-[#f2f2f2] rounded-md" disabled>
                <option class="text-black font-bold" value="pdf">. . .</option>
            </select>
        </label>
        to
        <label>
            <select class="px-6 mx-4 py-4 border border-[#f2f2f2] rounded-md">
                <option class="text-black" value="png">PNG</option>
                <option class="text-black" value="pdf">PDF</option>
                <option class="text-black" value="jpg">JPG</option>
            </select>
        </label>
    </div>
</div>

<!--Select File Button-->
<div class="px-[45%]">
    <button class="text-white bg-[#b53836] text-xl px-12 py-4 border rounded-md my-4">
        Select File
    </button>
</div>

<!--Bottom Body Detail Boxes-->
{% include 'converter_details.html' %}
{% endblock %}