{% extends 'base.html' %}
{% block cloudConverterBody %}
<form method="POST" enctype="multipart/form-data">
<!---Main Body-->
<div class="bg-gradient-to-r from-[#242424] to-[#3a3a3a] h-65 justify-between flex px-100 items-center">
    <!--Details-->
    <div>
        <h1 class="text-white font-bold text-3xl pb-2">File Converter</h1>
        <p class="text-white text-wrap w-xl">CloudConvert is an online file converter. We support nearly all audio, video, document, ebook, archive, image, spreadsheet, and presentation formats. To get started, use the button below and select files to convert from your computer.</p>
    </div>

    <!--Options-->
    <div class="flex self-center text-white items-center px-20">

        {% csrf_token %}
        convert
        <label>
            <select class="px-6 mx-4 py-4 border border-[#f2f2f2] rounded-md" name="from_file">
                <option class="text-black font-bold" value="pdf" >. . .</option>
                <option class="text-black" value="png">PNG</option>
                <option class="text-black" value="pdf">PDF</option>
                <option class="text-black" value="jpg">JPG</option>
            </select>
        </label>
        to
        <label>
            <select class="px-6 mx-4 py-4 border border-[#f2f2f2] rounded-md" name="to_file">
                <option class="text-black" value="png">PNG</option>
                <option class="text-black" value="pdf">PDF</option>
                <option class="text-black" value="jpg">JPG</option>
            </select>
        </label>

    </div>
</div>


<!--Select File Button-->
<div class="px-[45%]">
    {% csrf_token %}
    <input type="file" id="fileUpload" class="hidden" name="file_picked">
    <label for="fileUpload" class="flex items -center gap-4  text-white bg-[#b53836] text-xl px-4 py-4 w-60
    border rounded-md my-4
    cursor-pointer hover:bg-[#a0302e] transition">
        <i class="fa-regular fa-file"></i>
        Select File
    </label>
</div>
</form>


<!--Bottom Body Detail Boxes-->
{% include 'converter_details.html' %}
{% endblock %}