{% extends 'base.html' %}
{% block cloudConverterBody %}
   <div class="container my-4 mx-auto px-[12%] py-[50px]">
        <div class="pb-[50px]">
            <div class="flex text-[#A92655] text-[22px] pb-4">
                <i class="fas fa-user-shield mr-2 mt-3"></i>
                <h1 class="font-bold text-[28px]">Privacy & Communication Policy</h1>
            </div>
            <p class="text-[16px]">At <b class="text-[#A92655]">CloudConverter</b> LLC, your privacy and communication
                preferences matter to us. We use communication methods
                such as SMS and RingCentral strictly for service-related purposes only.</p>
        </div>
        <div class="pb-[50px]">
            <div class="flex text-[#A92655] text-[22px] pb-4">
                <i class="fas fa-comment-dots mr-2 mt-3"></i>
                <h1 class="font-bold text-[28px]">Communication Overview</h1>
            </div>
            <ul class="text-[16px]  list-disc px-8">
                    <li><b class="text-[#A92655]">Accurate Information:</b>
                         You must provide complete and correct details related to billing, patients, and
                        insurance.
                    </li>
                    <li><b class="text-[#A92655]">Compliance:</b>
                         You are responsible for using our Services in accordance with relevant healthcare laws and
                        regulations, such as HIPAA.
                    </li>
                    <li><b class="text-[#A92655]">Account Security:</b>
                         If you receive login access, keep it confidential and secure.
                    </li>
            </ul>
            <p class="text-[16px]">We do not use these channels for advertisements or mass marketing. You will only
                receive messages relevant to your service or inquiry.</p>
        </div>
        <div class="pb-[50px]">
            <div class="flex text-[#A92655] text-[22px] pb-4">
                <i class="fas fa-user-check mr-2 mt-3"></i>
                <h1 class="font-bold text-[28px]">Consent to Communicate</h1>
            </div>
            <ul class="text-[16px]  list-disc px-8">
                    <li><b class="text-[#A92655]">Verbal Consent:</b>
                         During calls, we ask if you'd like to receive service-related updates.
                    </li>
                    <li><b class="text-[#A92655]">Online Forms:</b>
                          Consent is collected via opt-in checkboxes with clear wording.
                    </li>
            </ul>
            <p class="text-[16px]"><i>
                Example: "By providing your number, you agree to
                receive SMS updates regarding your <b class="text-[#A92655]">CloudConverter</b> services. Message &
                data rates may apply. Reply STOP to
                unsubscribe."
            </i></p>
        </div>
        <div class="pb-[50px]">
            <div class="flex text-[#A92655] text-[22px] pb-4">
                <i class="fas fa-mobile-alt mr-2 mt-3"></i>
                <h1 class="font-bold text-[28px]">How to Opt Out</h1>
            </div>
            <p class="text-[16px]">
               To stop receiving SMS messages from <b class="text-[#A92655]">CloudConverter</b>:
            </p>
            <ul class="text-[16px]  list-disc px-8">
                    <li>Reply STOP to any text message
                    </li>
                    <li>
                          Or email us at <b class="text-[#A92655]">contact@cloudconverter.us</b>
                    </li>
            </ul>
            <p class="text-[16px]">
                Once you opt out, you will no longer receive messages unless you opt-in again.
            </p>
        </div>
        <div class="pb-[50px]">
            <div class="flex text-[#A92655] text-[22px] pb-4">
                <i class="fas fa-lock mr-2 mt-3"></i>
                <h1 class="font-bold text-[28px]">Data Privacy</h1>
            </div>
            <ul class="text-[16px]  list-disc px-8">
                    <li>Your data is never sold or shared with third parties.
                    </li>
                    <li>All messages are compliant with HIPAA and TCPA regulations.
                    </li>
                    <li>
                          We maintain secure internal records of communication preferences.
                    </li>
            </ul>
            <p class="text-[16px]">
                Once you opt out, you will no longer receive messages unless you opt-in again.
            </p>
        </div>
        <div class="pb-[50px]">
            <div class="flex text-[#A92655] text-[22px] pb-4">
                <i class="fas fa-database mr-2 mt-3"></i>
                <h1 class="font-bold text-[28px]">Data Collection and Retention</h1>
            </div>
             <p class="text-[16px]">
                We collect minimal personal data only for service delivery. For example:
            </p>
            <ul class="text-[16px]  list-disc px-8">
                    <li>When you leave a comment, we store your IP and browser for spam detection.
                    </li>
                    <li>Uploaded media may contain metadata—please remove location info before uploading.
                    </li>
                    <li>
                         Login and comment cookies may be stored for convenience.
                    </li>
            </ul>
        </div>
        <div class="pb-[50px]">
            <div class="flex text-[#A92655] text-[22px] pb-4">
                <i class="fas fa-lock mr-2 mt-3"></i>
                <h1 class="font-bold text-[28px]">Your Rights</h1>
            </div>
            <ul class="text-[16px]  list-disc px-8">
                    <li>You may request an export of your stored personal data.
                    </li>
                    <li>You may request deletion of your data unless legally required to retain it.
                    </li>
                    <li>You may edit or delete your user profile at any time.</li>
            </ul>
            <p class="text-[16px]">
                Once you opt out, you will no longer receive messages unless you opt-in again.
            </p>
        </div>

   <div class="flex py-2">
            <i class="fas fa-headset mr-2 mt-1"></i>
            <h1 class="text-[#A92655] font-bold">Contact Information</h1>
        </div>
        <div class="flex py-2">
            <i class="fas fa-envelope mr-2 mt-1"></i>
            <h1 class="text-[#A92655]">darkbytes@gmail.com</h1>
        </div>
        <div class="flex py-2">
            <i class="fas fa-phone mr-2 mt-1"></i>
            <h1 class="text-[#A92655]">+92 3XX-XXXXXXX</h1>
        </div>
        <div class="flex py-2">
            <i class="fas fa-globe mr-2 mt-1"></i>
            <h1 class="text-[#A92655]"><a href="{% url 'home' %}">CloudConverter</a></h1>
        </div>
    </div>
{% endblock %}