{% extends 'base.html' %}
{% block cloudConverterBody %} 

<form method="POST">
    {% csrf_token %}
    <!---Main Body-->
    <div class="bg-gradient-to-r from-[#A92655] to-[#FD8D67] h-65 justify-between flex px-100 items-center">
        <div>
            <h1 class="text-white font-bold text-3xl pb-2">File Converter</h1>
            <p class="text-white text-wrap w-xl">CloudConvert converts your image files online...</p>
        </div>

        <div class="flex self-center text-white items-center px-20">
            convert
            <label>
                <select class="px-6 mx-4 py-4 border border-white rounded-md text-white" disabled>
                    <option value="{{ from_format }}">
                        {% if '-' in from_format %}
                            ---
                        {% else %}
                            {{ from_format }}
                        {% endif %}
                    </option>
                </select>
            </label>
            to
            <label>
                <select class="px-6 mx-4 py-4 border border-white rounded-md focus:outline-none text-white">
                    <option value="{{ to_format }}" selected>{{ to_format }}</option>
                </select>
            </label>
        </div>
    </div>

    <!--Middle body-->
    <div class="bg-[#f9f9f9] justify-center">
        <div class="px-[45%]">
            <button type="submit" class="bg-white text-[#A92655] text-xl px-18 font-bold py-4 border rounded-md my-4 border-[#A92655] hover:bg-[#A92655] hover:text-white">
                Convert
            </button>
        </div>

        <div
                class="bg-white w-[60%] justify-self-center border border-[#f2f2f2] rounded-sm border-b-2">
            <div class="flex justify-between bg-white px-4 py-6">
                <h1 class="text-[#A92655] text-[1.12rem] font-[700]"> <i class="fa fa-wrench mr-1 text-[#A92655]"></i> OPTIONS</h1>
            </div>
            <hr class="text-[#f2f2f2]">

            <!--Width & Height-->
            <div class="flex justify-center px-6 gap-30">
                <div class="flex py-4 items-center">
                    <h1 class="font-light pb-4">Width</h1>
                    <div class="px-[15%]">
                        <input type="text" name="width" value="800" class="border border-[#dadada] rounded-sm py-[6px] px-14">
                        <p class="text-[#a5a5a5] text-[12px]">Output width in pixels.</p>
                    </div>
                </div>
                <div class="flex py-4 items-center">
                    <h1 class="font-light pb-4">Height</h1>
                    <div class="px-[15%]">
                        <input type="text" name="height" value="600" class="border border-[#dadada] rounded-sm py-[6px] px-14">
                        <p class="text-[#a5a5a5] text-[12px]">Output height in pixels.</p>
                    </div>
                </div>
            </div>
            <hr class="text-[#f2f2f2]">

            <!--Fit & Strip-->
            <div class="flex px-43 gap-12">
                <div class="flex py-4 justify-center text-start gap-19">
                    <h1 class="font-light text-center">Fit</h1>
                    <div>
                        <select name="fit" class="border border-[#dadada] rounded-sm py-[6px] w-73">
                            <option value="fit">fit</option>
                            <option value="max">max</option>
                            <option value="scale">scale</option>
                        </select>
                    </div>
                </div>
                <div class="">
                    <div class="flex py-2 justify-center text-start gap-[90px]">
                        <h1 class="font-light self-center pb-10">Strip</h1>
                        <div>
                            <input type="radio" name="strip" value="yes" checked class="accent-[#A92655]"> Yes
                            <input type="radio" name="strip" value="no" class="accent-[#A92655]"> No
                        </div>
                    </div>
                    <div class="flex py-2 pl-2 justify-center text-start gap-[50px]">
                        <h1 class="font-light self-center pb-10">Background</h1>
                        <div>
                            <input type="radio" name="remove_bg" value="yes" class="accent-[#A92655]"> Yes
                            <input type="radio" name="remove_bg" value="no" checked class="accent-[#A92655]"> No
                        </div>
                    </div>
                </div>
            </div>
            <hr class="text-[#f2f2f2]">

            <!--Quality-->
            <div class="flex py-4 px-41 items-center">
                <h1 class="font-light pb-4">Quality</h1>
                <div class="px-[6%]">
                    <input type="text" name="quality" value="90" class="border border-[#dadada] rounded-sm py-[6px] px-14">
                </div>
            </div>
        </div>
    </div>
</form>

{% if done %}
<div class="bg-white w-[60%] justify-self-center border border-[#f2f2f2] rounded-sm border-b-2 py-[50px] container my-8 px-8">
    <h2 class="text-[#A92655] font-bold mb-4">Download Files:</h2>
    {% for c in obj.converted_files.all %}
        <div class="flex justify-between py-2 border border-[#f2f2f2] px-4">
            <span>{{ c.file.name }}</span>
            <a href="{{ c.file.url }}" download class="text-blue-600 font-bold">Download</a>
        </div>
    {% endfor %}
</div>
{% endif %}

<!--Bottom Body Detail Boxes-->
{% include 'converter_details.html' %}


{% endblock %}
