{% extends 'base.html' %}
{% block cloudConverterBody %}

    <!--Bottom Body-->
    <div class="flex justify-between container mx-auto gap-15 max-w-6xl px-6 overflow-x-hidden">
        <div class="flex">
             <h1 class="justify-items-center py-8 text-[22px] text-[#A92655] font-bold
            max-w-6xl ">Categories
            </h1>
            <form method="GET" action="{% url 'blog' %}" class="flex place-content-center">
                <label>
                    <select name="category" onchange="this.form.submit()" onscroll="catPagination()" class="container
                    my-8 mx-4
                    border
                    border-black
                    h-[35px] rounded-[8px] w-[200px] px-4 text-[14px]">
                        <option value="" selected class="px=2">All</option>
                        {% for cat in categories %}
                            <option value="{{ cat.name|default:'' }}" {% if request.GET.category == cat.name %}selected
                            {% endif %}>
                                {{ cat.name }}
                            </option>
                        {% endfor %}
                    </select>
                </label>
            </form>
        </div>
        <div class="flex place-content-center">
            <form method="GET" action="{% url 'search_by_query' %}" class="flex place-content-center gap-4">
                <input type="text" name="q" id="search_query" value="{{ query|default:'' }}"
                class="border border-[#A92655] border-1 h-[35px] rounded-[8px] w-[250px] px-4 self-center" required>
                <button type="submit"
                    class="flex self-items-center justify-content-center container my-8 text-white bg-[#FD8D67]
                     text-[14px] px-[5%] py-2 rounded-md cursor-pointer hover:bg-[#A92655] hover:text-white
                     transition"> Search
                </button>
            </form>
        </div>
    </div>
    <hr class="text-[#f2f2f2] container">

    {% if not blog_list %}
        <div class="container my-[125px] mx-auto max-w-6xl px-4 overflow-x-hidden  justify-items-center ">
            <img src="https://www.shutterstock.com/image-vector/no-item-found-vector-solid-260nw-2083860241.jpg"
                 alt="image not found">
        </div>
    {% endif %}
    <div class="flex justify- pb-12 container mx-auto  gap-15 max-w-6xl px-6 overflow-x-hidden">
        <div class="flex items-center justify-between flex-wrap gap-2 py-8">
            {% for blog in blog_list %}
                 <a href="{% url 'blog_by_slug' slug=blog.slug %}">
                    <div class="border border-[#f2f2f2] rounded-t-[12px] my-[10px] w-[350px] h-[350px] overflow-hidden
                    text-ellipsis">
                        <div class="flex items-center text-[4rem] h-45">
                            <img class="object-fill" src="{{ blog.image.url }}" alt="image not found">
                        </div>
                        <!--content-->
                        <div class="overflow-hidden text-ellipsis py-4">
                            <h1 class="font-bold text-[1.21rem] pt-4 overflow-x-hidden px-2 text-[#A92655]">
                                {{ blog.title | safe}}
                            </h1>
                            <p class=" opacity-[0.7] overflow-y-hidden text-ellipsis px-2">
                                {{ blog.description | safe }}
                            </p>
                        </div>
                        <div class="flex justify-between px-2 font-md text-[#a5a5a5]">
                            <p class="text-[#A92655]">{{ blog.author }}</p>
                            <p class="text-black opacity-[.7]">{{ blog.uploaded_date }}</p>
                        </div>
                    </div>
                 </a>
            {% endfor %}
        </div>
    </div>
    {% if blog_list %}
        <div class="flex items-center py-8 px-[10%] container mx-auto max-w-6xl overflow-x-hidden gap-4 self-items-center
         justify-center">
            <div class="py-[15px]">
                {% if blog_list.has_previous %}
                    <a href="?page=1" class="bg-[#A92655] px-[10px] py-[10px] text-white font-md text-sm rounded-[8px]">First</a>
                    <a href="?page={{ blog_list.previous_page_number }}" class="bg-[#A92655] px-[20px] py-[10px] text-white
                        font-md text-sm rounded-[8px]">Previous</a>
                {% endif %}
            </div>

            {% for num in blog_list.paginator.page_range %}
            {% if blog_list.number == num %}
                <a href="?page={{ num }}" class="bg-[#A92655] px-[20px] py-[10px] text-white
                        font-md text-sm border rounded-[8px]">{{ num }}</a>
            {% elif num > blog_list.number|add:'-3' and num < blog_list.number|add:'3' %}
                <a href="?page={{ num }}" class="bg-[#A92655] px-[20px] py-[10px] text-white
                        font-md text-sm border rounded-[8px] opacity-[0.4]">{{ num }}</a>
            {% endif %}
            {% endfor %}

            {% if blog_list.has_next %}
            {% if blog_list.number < blog_list.paginator.num_pages|add:'-3' %}
                <span>...</span>
                <a href="?page={{ blog_list.paginator.num_pages }}" class="bg-[#A92655] px-[20px] py-[10px] text-white
                        font-md text-sm border rounded-[8px]">{{ blog_list.paginator.num_pages }}</a>
            {% elif blog_list.number < blog_list.paginator.num_pages|add:'-3' %}
                <a href="?page={{ blog_list.paginator.num_pages }}" class="bg-[#A92655] px-[20px] py-[10px] text-white
                        font-md text-sm border rounded-[8px] opacity-[0.4]">{{ blog_list.paginator.num_pages }}</a>
            {% endif %}

                <a href="?page={{ blog_list.next_page_number }}">Next Page »</a>
            {% endif %}

            <div class="py-[15px]">
                {% if blog_list.has_next %}
                    <a href="?page={{ blog_list.next_page_number }}" class="bg-[#A92655] px-[10px] py-[10px] text-white
                        font-md text-sm rounded-[8px]">Next</a>
                    <a href="?page={{ blog_list.paginator.num_pages }}" class="bg-[#A92655] px-[10px] py-[10px]
                        text-white font-md text-sm rounded-[8px]">Last</a>
                {% endif %}
            </div>

        </div>
    {% endif %}

    <script>
<!--        function catPagination(){-->
<!--            fetch-->
<!--        }-->
    </script>

{% endblock %}