{% extends 'base.html' %}
{% block cloudConverterBody %}
<style>
    #body ul li {list-style-type: disc;}
</style>
    <div class="">
    </div>
    <article class="container mx-auto">
        <div class="items-center text-[4rem] mt-10 mx-36">
            <img class=" object-cover h-96 w-full px-20" src="{{ blog_obj.image.url }}" alt="image not found">
        </div>
        <div class='px-20 overflow-hidden flex flex-wrap flex-col mx-36'>
            <h1 class="font-bold text-[1.51rem] py-2">{{ blog_obj.title }}</h1>
            <div class="flex justify-between italic pb-4 text-[14px]">
                <h1 class="font-md text-[#A92655]">By {{ blog_obj.author }}</h1>
                <p>{{ blog_obj.uploaded_date }}</p>
            </div>
            <p class="items-center text-[12px] pb-4">
            {{ blog_obj.description }}
            </p>
            <div id='body' class="flex justify-start pb-8 text-[14px]">
                <p class="justify-start">{{ blog_obj.body | safe }}</p>
            </div>
            <div class="flex justify-start pb-8 text-[14px] font-semibold">
                <p>#{{ blog_obj.hash_tag | safe }}</p>
            </div>
        </div>
    </article>
{% endblock %}