{% extends 'base.html' %}
{% block cloudConverterBody %}

<!--Bottom Body-->
<div
        class="bg-gradient-to-r from-[#A92655] to-[#FD8D67] justify-arround md:justify-center block items-center md:items.start md:h-60">
    <div
            class="max-w-[1440px] container mx-auto pb-[4%] md:px-[2%] md:justify-between md:container md:mx-auto
     md:max-w-6xl md:px-6 md:py-2 md:overflow-x-hidden">
        <h1 class="text-white font-bold text-[18px] md:text-2xl px-[10%] md:px-[1%] md:text-[22px] md:pb-2">Blog</h1>
        <p class="text-white text-[12px] md:text-[18px] text-wrap md:w-2xl px-[10%] md:px-[1%] md:text-white md:text-wrap md:w-xl">Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    </div>
    <div class="md:flex justify-between container mx-auto gap-15 max-w-6xl px-6 overflow-x-hidden">
        <div class="flex">
             <h1 class="text-[18px] justify-items-center px-[4%] md:py-8 md:text-[22px] text-white font-bold
            md:ax-w-6xl">Categories
            </h1>
            <form method="GET" action="{% url 'blog' %}" class="md:flex place-content-start">
                <label>
                    <select name="category" onchange="this.form.submit()" onscroll="catPagination()" class="container
                    md:my-8 md:mx-4 border border-white border-1 md:border-2 text-white h-[35px] rounded-[8px] w-[200px]
                     px-2 md:px-4 text-[12px] md:text-[14px] outline-none">
                        <option value="" selected class="px-2 bg-[#FD8D67] hover:bg-[#A92655]">All</option>
                        {% for cat in categories %}
                            <option value="{{ cat.name|default:'' }}" {% if request.GET.category == cat.name %}selected
                            {% endif %} class="px-2 bg-[#FD8D67] hover:bg-[#A92655]">
                                {{ cat.name }}
                            </option>
                        {% endfor %}
                    </select>
                </label>
            </form>
        </div>
        <div class="md:flex place-content-center px-[5%] py-4 md:py-0 gap-2">
            <form method="GET" action="{% url 'search_by_query' %}" class="gap-2 flex md:place-content-center md:gap-4">
                <input type="text" name="q" id="search_query" value="{{ query|default:'' }}"
                class="text-white border border-white border-1 md:border-2 h-[35px] rounded-[8px] w-[215px] md:w-[250px] px-2 md:px-4 md:py-4 md:self-center
                focus:outline-none outline-none md:caret-white" required>
                <button type="submit"
                    class="flex md:self-center md:justify-content-center md:container md:my-8 text-white border border-white md:border-2
                     text-[14px] px-[5%] py-[5px] rounded-md cursor-pointer"> Search
                </button>
            </form>
        </div>
    </div>
</div>

    <hr class="text-[#f2f2f2] container">

    {% if not blog_list %}
        <div class="overflow-x-hidden justify-items-center object-fill bg-white">
            <img src="https://www.shutterstock.com/image-vector/no-item-found-vector-solid-260nw-2083860241.jpg"
                 alt="image not found">
        </div>
    {% endif %}
    <div
            class="flex justify-center pb-8 md:pb-12 container mx-auto md:gap-15 md:max-w-6xl md:px-6 overflow-x-hidden">
        <div class="flex items-center justify-center md:justify-between flex-wrap md:gap-4 md:py-8">
            {% for blog in blog_list %}
                 <a href="{% url 'blog_by_slug' slug=blog.slug %}">
                    <div
                            class="border border-[#f2f2f2] rounded-t-[12px] container mt-4 md:my-[10px] w-[320px] md:w-[350px] h-[300px] md:h-[350px] overflow-hidden
                    text-ellipsis">
                        <div class="flex items-center text-[4rem] h-45">
                            <img class="object-fill" src="{{ blog.image.url }}" alt="image not found">
                        </div>
                        <!--content-->
                        <div class="overflow-hidden text-ellipsis py-2 md:py-4">
                            <h1 class="font-bold text-[16px] md:text-[1.21rem] pt-4 overflow-x-hidden px-2 text-black opacity-[.8]">
                                {{ blog.title | safe}}
                            </h1>
                            <p class="text-[12px] md:text-[14px] opacity-[0.7] overflow-y-hidden text-ellipsis px-2">
                                {{ blog.description | safe }}
                            </p>
                        </div>
                        <div class="text-[12px] md:text-[14px] flex justify-between px-2 font-md text-[#a5a5a5]">
                            <p class="text-[#A92655]">{{ blog.author }}</p>
                            <p class="text-black opacity-[.7]">{{ blog.uploaded_date }}</p>
                        </div>
                    </div>
                 </a>
            {% endfor %}
        </div>
    </div>
    {% if blog_list %}
        <div class="flex items-center py-8 px-[10%] container mx-auto max-w-6xl overflow-x-hidden gap-4 self-items-center
         justify-center">
            <div class="py-[15px]">
                {% if blog_list.has_previous %}
                    <a href="?page=1" class="bg-[#A92655] px-[10px] py-[10px] text-white font-md text-sm rounded-[8px]">First</a>
                    <a href="?page={{ blog_list.previous_page_number }}" class="bg-[#A92655] px-[20px] py-[10px] text-white
                        font-md text-sm rounded-[8px]">Previous</a>
                {% endif %}
            </div>

            {% for num in blog_list.paginator.page_range %}
            {% if blog_list.number == num %}
                <a href="?page={{ num }}" class="bg-[#A92655] px-[20px] py-[10px] text-white
                        font-md text-sm border rounded-[8px]">{{ num }}</a>
            {% elif num > blog_list.number|add:'-3' and num < blog_list.number|add:'3' %}
                <a href="?page={{ num }}" class="bg-[#A92655] px-[20px] py-[10px] text-white
                        font-md text-sm border rounded-[8px] opacity-[0.4]">{{ num }}</a>
            {% endif %}
            {% endfor %}

            {% if blog_list.has_next %}
            {% if blog_list.number < blog_list.paginator.num_pages|add:'-3' %}
                <span>...</span>
                <a href="?page={{ blog_list.paginator.num_pages }}" class="bg-[#A92655] px-[20px] py-[10px] text-white
                        font-md text-sm border rounded-[8px]">{{ blog_list.paginator.num_pages }}</a>
            {% elif blog_list.number < blog_list.paginator.num_pages|add:'-3' %}
                <a href="?page={{ blog_list.paginator.num_pages }}" class="bg-[#A92655] px-[20px] py-[10px] text-white
                        font-md text-sm border rounded-[8px] opacity-[0.4]">{{ blog_list.paginator.num_pages }}</a>
            {% endif %}

                <a href="?page={{ blog_list.next_page_number }}">Next Page »</a>
            {% endif %}

            <div class="py-[15px]">
                {% if blog_list.has_next %}
                    <a href="?page={{ blog_list.next_page_number }}" class="bg-[#A92655] px-[10px] py-[10px] text-white
                        font-md text-sm rounded-[8px]">Next</a>
                    <a href="?page={{ blog_list.paginator.num_pages }}" class="bg-[#A92655] px-[10px] py-[10px]
                        text-white font-md text-sm rounded-[8px]">Last</a>
                {% endif %}
            </div>

        </div>
    {% endif %}

{% endblock %}