{% extends 'base.html' %}
{% load static %}
{% block cloudConverterBody %}
<div
        class="bg-gradient-to-r from-[#A92655] to-[#FD8D67] justify-arround block sm:flex items-center md:h-35 md:content-center">
    <div
            class="max-w-[1440px] md:max-w-[1500px] container mx-auto py-[4%] md:py-0 lg:px-[5%] md:px-[25%] md:content-center">
        <h1 class="text-white font-bold text-[16px] md:text-xl md:text-2xl px-[10%] md:text-3xl md:pb-4 md:justify-self-start">
            API Documentation
        </h1>
        <p class="text-white text-[12px] md:text-[18px] text-wrap md:w-2xl px-[10%] md:w-xl">
            One API to handle them all. More than 200 formats supported.
        </p>
    </div>
</div>
{% include 'converter_details.html' %}

<div class="bg-gradient-to-r from-[#202020] to-[#3a3a3a] justify-arround block items-center md:h-165 md:content-center">
    <div class="overflow-x-hidden justify-items-center">
       <img src="{% static 'images/img.png' %}"
            alt="image not found" class="mx-auto w-2/3 md:w-1/3 h-auto py-8">
    </div>
    <div class="overflow-x-hidden justify-items-center pb-4">
        <h1 class="text-white text-[12px] px-8 md:text-[16px]">Use our Job Builder to generate ready-to-use requests and
            code snippet for the CloudConvert API.</h1>
    </div>
</div>

<div class="gap-8 container mx-auto justify-center py-4 md:py-8">
    <div class="justify-self-center">
        <h1 class="text-[14px] md:text-[16px] text-[#A92655] font-[600] py-2">
            ON-DEMAND, TRANSPARENT
        PRICING
        </h1></div>
    <div class="flex justify-self-center px-4">
        <h1 class="text-[14px] md:text-[22px] text-[#A92655] font-[700] self-center">Starting at</h1>
        <h1 class="text-[18px] md:text-[48px] text-[#A92655] font-[700]">&nbspUS$0.008</h1>
        <h1 class="text-[14px] md:text-[22px] text-[#A92655] font-[700] self-center">&nbsp per file</h1>
    </div>


    <div class="gap-8 container mx-auto justify-center w-full max-w-[300px] px-10 py-4">
      <input type="range" min="0" max="100" value="30"
        class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer accent-[#A92655]">
    </div>
    <div class="flex justify-center text-center text-[12px] text-wrap px-4 md:px-8 md:text-[1.4rem] text-white md:py-12">
        <p class="text-[#A92655]">
            Corresponds to a one-time payment of <b>US$274.00.</b> Checkout the full pricing information.
        </p>
    </div>
</div>
{% endblock %}