{% extends 'base.html' %}
{% block cloudConverterBody %}

<!---Main Body-->
<div class="bg-gradient-to-r from-[#242424] to-[#3a3a3a] h-65 justify-between flex px-100 items-center">
    <!--Details-->
    <div>
        <h1 class="text-white font-bold text-3xl pb-2">File Converter</h1>
        <p class="text-white text-wrap w-xl">CloudConvert is an online file converter. We support nearly all audio, video, document, ebook, archive, image, spreadsheet, and presentation formats. To get started, use the button below and select files to convert from your computer.</p>
    </div>

    <!--Form-->
    <div class="flex self-center text-white items-center px-20">
        convert
        <label>
            <select class="px-2 mx-4 py-4 border border-white rounded-md">
                <option class="text-black" value="pdf">PDF</option>
                <option class="text-black" value="png">PNG</option>
                <option class="text-black" value="jpg">JPG</option>
            </select>
        </label>
        to
        <label>
            <select class="px-2 mx-4 py-4 border border-white rounded-md">
                <option class="text-black" value="png">PNG</option>
                <option class="text-black" value="pdf">PDF</option>
                <option class="text-black" value="jpg">JPG</option>
            </select>
        </label>
    </div>
</div>

<!--Select File Button-->
<div class="px-[45%]">
    <button class="text-white bg-[#b53836] text-xl px-10 py-4 border rounded-md my-4">
        Select File
    </button>
</div>

<!--Bottom Body-->
<div class="flex py-15 px-[20%]">
    <article class="flex">
        <!--Icon-->
        <div class="flex items-center px-15 text-[5rem]">
            <i class="fa-solid fa-copy custom-copy-icon"></i>
        </div>

        <!--content-->
        <div>
            <h1 class="font-bold text-[1.51rem]">+200 Formats Supported</h1>
            <p class="w-90">CloudConvert is your universal app for file conversions. We support nearly all audio, video, document, ebook, archive, image, spreadsheet, and presentation formats. Plus, you can use our online tool without downloading any software.</p>
        </div>
    </article>
    <article class="flex">
        <!--Icon-->
        <div class="flex items-center px-15 text-[5rem]">
            <i class="fa fa-cubes"></i>
        </div>

        <!--content-->
        <div>
            <h1 class="font-bold text-[1.51rem]">Data Security</h1>
            <p class="w-90">CloudConvert is your universal app for file conversions. We support nearly all audio, video, document, ebook, archive, image, spreadsheet, and presentation formats. Plus, you can use our online tool without downloading any software.</p>
        </div>
    </article>
    

</div>
<div class="flex pb-30 px-[20%]">
    <article class="flex">
        <!--Icon-->
        <div class="flex items-center px-15 text-[5rem]">
            <i class="fa-solid fa-cube"></i>
        </div>

        <!--content-->
        <div>
            <h1 class="font-bold text-[1.51rem]">High-Quality Conversions</h1>
            <p class="w-90">CloudConvert is your universal app for file conversions. We support nearly all audio, video, document, ebook, archive, image, spreadsheet, and presentation formats. Plus, you can use our online tool without downloading any software.</p>
        </div>
    </article>
    <article class="flex">
        <!--Icon-->
        <div class="flex items-center px-15 text-[5rem]">
            <i class="fa fa-cogs"></i>
        </div>

        <!--content-->
        <div>
            <h1 class="font-bold text-[1.51rem]">Powerful API</h1>
            <p class="w-90">CloudConvert is your universal app for file conversions. We support nearly all audio, video, document, ebook, archive, image, spreadsheet, and presentation formats. Plus, you can use our online tool without downloading any software.</p>
        </div>
    </article>
    

</div>
{% endblock %}