    <!--Bottom Body-->
    <div class="flex py-15 px-[20%]">
        <article class="flex">
            <!--Icon-->
            <div class="flex items-center px-15 text-[4rem]">
                <i class="fa-solid fa-copy custom-copy-icon text-[#A92655]"></i>
            </div>

            <!--content-->
            <div>
                <h1 class="font-bold text-[1.51rem] text-[#A92655]">+200 Formats Supported</h1>
                <p class="w-90 font-light">CloudConvert is your universal app for file conversions. We support nearly all audio, video, document, ebook, archive, image, spreadsheet, and presentation formats. Plus, you can use our online tool without downloading any software.</p>
            </div>
        </article>
        <article class="flex">
            <!--Icon-->
            <div class="flex items-center px-15 text-[4rem]">
                <i class="fa fa-cubes text-[#A92655]"></i>
            </div>

            <!--content-->
            <div>
                <h1 class="font-bold text-[1.51rem] text-[#A92655]">Data Security</h1>
                <p class="w-90 font-light">CloudConvert is your universal app for file conversions. We support nearly
                    all audio, video, document, ebook, archive, image, spreadsheet, and presentation formats. Plus, you can use our online tool without downloading any software.</p>
            </div>
        </article>
    

    </div>
    <div class="flex pb-12 px-[20%]">
        <article class="flex">
            <!--Icon-->
            <div class="flex items-center px-15 text-[4rem] text-[#A92655]">
                <i class="fa-solid fa-cube text-[#A92655]"></i>
            </div>

            <!--content-->
            <div>
                <h1 class="font-bold text-[1.51rem] text-[#A92655]">High-Quality Conversions</h1>
                <p class="w-90 font-light">CloudConvert is your universal app for file conversions. We support nearly all audio, video, document, ebook, archive, image, spreadsheet, and presentation formats. Plus, you can use our online tool without downloading any software.</p>
            </div>
        </article>
        <article class="flex">
            <!--Icon-->
            <div class="flex items-center px-15 text-[4rem] text-[#A92655]">
                <i class="fa fa-cogs"></i>
            </div>

            <!--content-->
            <div>
                <h1 class="font-bold text-[1.51rem] text-[#A92655]">Powerful API</h1>
                <p class="w-90 font-light">CloudConvert is your universal app for file conversions. We
                    support nearly all audio, video, document, ebook, archive, image, spreadsheet, and presentation formats. Plus, you can use our online tool without downloading any software.</p>
            </div>
        </article>
    </div>