<footer class="bg-[#f2f2f2] py-4">
    <div class="flex justify-between px-98">
         <div class="flex gap-16">
        <ul>
            <li class="font-medium">Company</li>
            <li class="text-red-700 font-normal text-base">About Us</li>
            <li class="text-red-700 font-normal text-base">Security</li>
        </ul>
        <ul>
            <li class="font-medium">Resources</li>
            <li class="text-red-700 font-normal text-base">Blog</li>
            <li class="text-red-700 font-normal text-base">Status</li>
        </ul>
        <ul>
            <li class="font-medium">legal</li>
            <li class="text-red-700 font-normal text-base"><a href="{% url 'privacy_policy' %}">Privacy</a></li>
            <li class="text-red-700 font-normal text-base"><a href="{% url 'terms_condition' %}">Terms</a></li>
            <li class="text-red-700 font-normal text-base">Imprint</li>
        </ul>
        <ul>
            <li class="font-medium">Contact</li>
            <li class="text-red-700 font-normal text-base">Contact Us</li>
        </ul>
    </div>
    <div>
        <p>© 2026 Lunaweb GmbH</p>
        <p class="text-[#a5a5a5]">Made in Munich, Germany</p>
    </div>
    </div>
   
    <div class="flex justify-center text-[1.4rem] text-[#a5a5a5] py-12">
        <p>We've already converted<h1 class="font-bold">&nbsp;2,814,590,401 files</h1>&nbsp;with a total size of&nbsp;<h1 class="font-bold"> &nbsp; 21,837 TB.</h1></p>
    </div>
</footer>