<header class="bg-gradient-to-r from-[#202020] to-[#3a3a3a] ">
    <div class="px-50">
        <nav class="flex justify-between px-50 py-4">
        <ul class="flex text-white gap-10 text-base font-medium">
            <ul class="flex text-white gap-2">
                <li><a href=""><img class="h-8"  src="https://cloudconvert.com/images/logo_flat_110_borderless.png" alt="no logo found"></a></li>
                <li><a href=""><li class="flex text-2xl"><h1 class=" flex font-thin">cloud</h1>converter</li></a></li>
            </ul>
            <li class="py-2">Tools</li>
            <li class="py-2">API</li>
            <li class="py-2">Pricing</li>
        </ul>
        <ul class="flex text-white gap-8 font-medium text-base">
            <li class="py-2">Sign Up</li>
            <li class="py-2">Login</li>
       </ul>
    </nav>
    </div>
    
</header>
