{% extends 'base.html' %}
{% block cloudConverterBody %}
    <div class="container my-4 mx-auto px-[5%] py-[50px]">
        <div>
            <p class="text-[16px] font-md">
                Welcome to <b class="text-[#b53836]">CloudConverter</b>, a medical billing company. These Terms and
                Conditions
                (“Terms”) govern your use of our services, website, and any related products or services (collectively,
                “Services”). By accessing or using our Services, you agree to be bound by these Terms. If you do not
                agree, please do not use our Services.
            </p>
        </div>
        <div class="pt-8">
            <h1 class="font-bold text-[18px]">1. Acceptance of Terms</h1>
            <p class="text-[16px]">
                By using our Services, you confirm that you are at least 18 years old and legally capable of entering these
                Terms. If you're using our Services on behalf of an organization, you represent you have authority to bind
                that organization to these Terms.
            </p>
        </div>
        <div class="pt-8">
            <h1 class="font-bold text-[18px]">2. Services Provided</h1>
            <p class="text-[16px]">
                <b class="text-[#b53836]">CloudConverter</b> provides medical billing, coding, and administrative support to healthcare providers and patients.
                While we aim for accuracy and compliance with all laws, error-free service is not guaranteed. Our offerings
                may be updated or withdrawn at our discretion.
            </p>
        </div>
        <div class="pt-8">
            <h1 class="font-bold text-[18px]">3. User Responsibilities</h1>
            <ul class="text-[16px]  list-disc px-8">
                <li><b class="text-[#b53836]">Accurate Information:</b>
                     You must provide complete and correct details related to billing, patients, and
                    insurance.
                </li>
                <li><b class="text-[#b53836]">Compliance:</b>
                     You are responsible for using our Services in accordance with relevant healthcare laws and regulations, such as HIPAA.
                </li>
                <li><b class="text-[#b53836]">Account Security:</b>
                     If you receive login access, keep it confidential and secure.
                </li>
            </ul>
        </div>
        <div class="pt-8">
            <h1 class="font-bold text-[18px]">4. Fees and Payment</h1>
            <ul class="text-[16px]  list-disc px-8">
                <li><b class="text-[#b53836]">Billing:</b>
                     Charges are shared via agreement or invoice. Payment is expected on time.
                </li>
                <li><b class="text-[#b53836]">Late Payments:</b>
                     Additional fees may apply and services could be paused.
                </li>
                <li><b class="text-[#b53836]">Refunds:</b>
                     Handled per our internal refund policy, available on request.
                </li>
            </ul>
        </div>
        <div class="pt-8">
            <h1 class="font-bold text-[18px]">5. Confidentiality and Privacy</h1>
            <p class="text-[16px]">
               Your privacy is essential to us. We follow HIPAA and other laws to protect your data. Our practices are
                governed by our Privacy Policy. You must not share any confidential info about <b class="text-[#b53836]">CloudConverter</b> without written
                permission.
            </p>
        </div>
        <div class="pt-8">
            <h1 class="font-bold text-[18px]">6. Communication Consent and Messaging Policy</h1>
            <p class="text-[16px]">
               When you use our Services or provide your contact details, you agree to receive important updates from
                c via phone, email, or SMS.
            </p>
            <ul class="text-[16px] list-disc px-8">
                <li>
                    <b class="text-[#b53836]">Consent:</b> Obtained digitally or verbally during onboarding.
                </li>
                <li>
                    <b class="text-[#b53836]">Message Terms:</b> Frequency varies; standard rates apply.
                </li>
                <li>
                    <b class="text-[#b53836]">Opt-Out:</b> Reply STOP anytime. HELP for support. No marketing messages will be sent.
                </li>
            </ul>

        </div>
        <div class="pt-8">
            <h1 class="font-bold text-[18px]">7. Intellectual Property</h1>
            <p class="text-[16px]">
                Content, branding, and systems from our Services are protected under intellectual property law. You may not
                copy or reuse them without permission.
            </p>
        </div>
        <div class="pt-8">
            <h1 class="font-bold text-[18px]">8. Limitation of Liability</h1>
            <p class="text-[16px]">
                <b class="text-[#b53836]">CloudConverter</b> is not responsible for any indirect or consequential loss from your use of our Services. Our
                liability is limited to the amount paid by you in the last 12 months.
            </p>
        </div>
        <div class="pt-8">
            <h1 class="font-bold text-[18px]">9. Indemnification</h1>
            <p class="text-[16px]">
                You agree to protect and hold harmless <b class="text-[#b53836]">CloudConverter</b> and its team from any legal issues, claims, or losses
                related to your use of our Services or violations of these Terms.
            </p>
        </div>
        <div class="pt-8">
            <h1 class="font-bold text-[18px]">10. Termination</h1>
            <p class="text-[16px]">
                We can end your access for reasons like non-payment, Terms violations, or fraudulent activity. You'll still
                owe any pending fees.
            </p>
        </div>
        <div class="pt-8">
            <h1 class="font-bold text-[18px]">11. Modifications to Terms</h1>
            <p class="text-[16px]">
                We may update these Terms occasionally. Your continued use means you accept the latest version, which will
                always be posted on our website.
            </p>
        </div>
        <div class="pt-8">
            <h1 class="font-bold text-[18px]">12. Governing Law</h1>
            <p class="text-[16px]">
               These Terms are governed by U.S. law. Disputes will be handled in federal or state courts across the U.S
            </p>
        </div>
        <div class="py-8">
            <h1 class="font-bold text-[18px]">13. Contact Information</h1>
            <p class="text-[16px]">
               If you have any questions or concerns, reach out to us:
            </p>
        </div>
        <div class="flex py-2">
            <i class="fas fa-building mr-2 mt-1"></i>
            <h1 class="text-[#b53836]">CloudConverter</h1>
        </div>
        <div class="flex py-2">
            <i class="fas fa-envelope mr-2 mt-1"></i>
            <h1 class="text-[#b53836]">darkbytes@gmail.com</h1>
        </div>
        <div class="flex py-2">
            <i class="fas fa-phone mr-2 mt-1"></i>
            <h1 class="text-[#b53836]">+92 3XX-XXXXXXX</h1>
        </div>
        <div class="flex py-2">
            <i class="fas fa-globe mr-2 mt-1"></i>
            <h1 class="text-[#b53836]"><a href="{% url 'home' %}">CloudConverter</a></h1>
        </div>
    </div>


{% endblock %}